{% if article.related_posts %}
    <hr/>
    <section class="related-posts">
        <div class="h5">
            <i class="fa fa-exchange"></i>
            {{ RELATED_POSTS_TEXT|default(_('Related Posts')) }}:
        </div>
        <ul class="list-unstyled">
            {% for related_post in article.related_posts %}
            <li>
                <a href="{{ SITEURL }}/{{ related_post.url }}">{{ related_post.title }}</a>
            </li>
            {% endfor %}
        </ul>
    </section>
{% endif %}
