{% if article.series %}
    <hr/>
    <section class="series">
        <div class="h5">
            <i class="fa fa-television"></i>
            {{ _('Series') }}: {{ article.series.name }}
            <span class="badge badge-dark">
                {{ _('Part %(index)s', index=article.series.index) }}
            </span>
        </div>
        {% if article.series.all_next %}
            <div>Next articles</div>
            <ul class="list-unstyled">
            {% for article in article.series.all_next %}
                <li><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></li>
            {% endfor %}
            </ul>
        {% endif %}
        {% if article.series.all_previous %}
            <div>Previous articles</div>
            <ul class="list-unstyled">
            {% for article in article.series.all_previous %}
                <li><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></li>
            {% endfor %}
            </ul>
        {% endif %}
    </section>
{% endif %}
