<div id="aboutme" class="mt-3 mx-auto">
    {% if AVATAR %}
    <a href="{{ SITEURL }}">
        <img id="avatar"
            class="img-fluid img-thumbnail {% if AVATAR_CIRCLE %}rounded-circle{% endif %}"
            src="{{ main_siteurl|default(SITEURL) }}/{{ AVATAR }}"/>
    </a>
    {% endif %}
    {% if ABOUT_ME %}
    <div id="author" class="text-center mt-3">
        <strong>{{ AUTHOR }}</strong><br/>
        {{ ABOUT_ME }}
    </div>
    {% endif %}
</div>
