{% from 'includes/sidebar/macros.jinja' import title %}

{% if dates and DISPLAY_ARCHIVE_ON_SIDEBAR and MONTH_ARCHIVE_SAVE_AS %}
    <span id="sidebar-archive-label">{{ title(_('Archive'), DISABLE_SIDEBAR_TITLE_ICONS, icon='calendar') }}</span>
    <ul class="nav flex-column" aria-labelledby="sidebar-archive-label">
        {% for year, date_year in dates|groupby( 'date.year' )|sort(reverse=True) %}
            {% for month, articles in date_year|groupby( 'date.month' )|sort(reverse=True) %}
            <li class="nav-item">
                <a class="nav-link" href="{{ SITEURL }}/{{ MONTH_ARCHIVE_SAVE_AS.format(date=articles[0].date) }}">
                    {{ articles[0].date.strftime('%B') }} {{ year }} ({{ articles|count }})
                </a>
            </li>
        {% endfor %}
    {% endfor %}
    </ul>
{% endif %}
