{% from 'includes/sidebar/macros.jinja' import title %}

{% if authors and DISPLAY_AUTHORS_ON_SIDEBAR %}
    <span id="sidebar-authors-label">{{ title(_('Authors'), DISABLE_SIDEBAR_TITLE_ICONS, icon='users') }}</span>
    <ul class="nav flex-column" id="authors" aria-labelledby="sidebar-authors-label">
        {% for author, articles in authors|sort %}
        <li>
            <a class="nav-link" href="{{ SITEURL }}/{{ author.url }}">
                {% set a %}
                {{ author }} ({{ articles|count }})
                {% endset %}
                {{ title(a, DISABLE_SIDEBAR_TITLE_ICONS, icon='user') }}
            </a>
        </li>
        {% endfor %}
    </ul>
{% endif %}
