<div class="branding">
    {% if SITELOGO %}
        <img id="sitelogo" class="img-fluid mx-auto" src="{{ main_siteurl|default(SITEURL) }}/{{ SITELOGO }}" width="{{ SITELOGO_SIZE }}"/>
    {% endif %}

    {% if not HIDE_SITENAME and SHOW_SITENAME_ON_SIDEBAR %}
        <h1 class="sitename"><a href="{{ SITEURL }}">{{ SITENAME }}</a></h1>
    {% endif %}
</div>
