{% from 'includes/sidebar/macros.jinja' import title %}

{% if categories and DISPLAY_CATEGORIES_ON_SIDEBAR|default(True) %}
    <span id="sidebar-categories-label">{{ title(_('Categories'), DISABLE_SIDEBAR_TITLE_ICONS, 'folder-open') }}</span>
    <ul class="nav flex-column" aria-labelledby="sidebar-categories-label">
        {% for cat, null in categories %}
        <li>
            <a class="nav-link" href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a>
        </li>
        {% endfor %}
    </ul>
{% endif %}
