{% from 'includes/sidebar/macros.jinja' import title %}

{% if GITHUB_USER %}
    <span id="sidebar-github-label">{{ title(_('GitHub Repos'), DISABLE_SIDEBAR_TITLE_ICONS, icon='github') }}</span>
    <div id="gh_repos">
        <p class="nav-item">{{ _('Status updating...') }}</p>
    </div>
    {% if GITHUB_SHOW_USER_LINK is defined %}
    <a href="https://github.com/{{ GITHUB_USER }}">@{{ GITHUB_USER }}</a> on GitHub
    {% endif %}
{% endif %}
