{% from 'includes/sidebar/macros.jinja' import title %}

{% if SIDEBAR_IMAGES %}
    {% if SIDEBAR_IMAGES_HEADER %}
    <span id="sidebar-images-label">{{ title(SIDEBAR_IMAGES_HEADER, DISABLE_SIDEBAR_TITLE_ICONS, icon='external-link-square') }}</span>
    {% endif %}
    <ul class="nav flex-column" aria-labelledby="sidebar-images-label">
        {% for image in SIDEBAR_IMAGES %}
        <li>
            <img width="100%" class="img-thumbnail" src="{{ image }}"/>
        </li>
        {% endfor %}
    </ul>
{% endif %}
