{% from 'includes/sidebar/macros.jinja' import title %}

{% if LINKS %}
    <span id="sidebar-links-label">{{ title(_('Links'), DISABLE_SIDEBAR_TITLE_ICONS, icon='external-link-square') }}</h4>
    <ul class="nav flex-column" aria-labelledby="sidebar-links-label">
        {% for name, link in LINKS %}
        <li>
            <a class="nav-link" href="{{ link }}" target="_blank">{{ name }}</a>
        </li>
        {% endfor %}
    </ul>
{% endif %}
