{% from 'includes/sidebar/macros.jinja' import title %}

{% if pages and DISPLAY_PAGES_ON_SIDEBAR %}
    {% if not PAGES_SORT_ATTRIBUTE -%}
        {% set PAGES_SORT_ATTRIBUTE = 'title' %}
    {%- endif %}

    <span id="sidebar-pages-label">{{ title(_('Pages'), DISABLE_SIDEBAR_TITLE_ICONS, 'book') }}</span>
    <nav class="nav flex-column" aria-labelledby="sidebar-pages-label">
    {% for p in pages | sort(attribute=PAGES_SORT_ATTRIBUTE) %}
        <a class="nav-link {% if p == page %}active{% endif %}" href="{{ SITEURL }}/{{ p.url }}">
            {{ p.menulabel|default(p.title) }}
        </a>
    {% endfor %}
    </nav>
{% endif %}
