{% from 'includes/sidebar/macros.jinja' import title %}

{% if articles and DISPLAY_RECENT_POSTS_ON_SIDEBAR %}
    <span id="sidebar-recent-posts-label">{{ title(_('Recent Posts'), DISABLE_SIDEBAR_TITLE_ICONS, 'clock-o') }}</span>
    <ul class="nav flex-column" aria-labelledby="sidebar-recent-posts-label">
        {% for article in articles[:RECENT_POST_COUNT|default(5)] %}
        <li>
            <a class="nav-link" href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
        </li>
        {% endfor %}
    </ul>
{% endif %}
