{% if 'tipue_search' in PLUGINS %}
<div class="mb-4">
    <form action="{{ SEARCH_URL | default('/search.html') }}">
        <input id="tipue_search_input" class="form-control" type="text" placeholder="Search" aria-label="Search" name="q" required>
    </form>
</div>
{% endif %}
