{% from 'includes/sidebar/macros.jinja' import title %}

{% if article and article.series and  DISPLAY_SERIES_ON_SIDEBAR %}
    <span id="sidebar-series-label">{{ title(_('Series'), DISABLE_SIDEBAR_TITLE_ICONS, icon='television') }}</span>
    <ul class="nav flex-column" aria-labelledby="sidebar-series-label">
        {% if article.series.previous %}
        <li>
            <a class="nav-link" href="{{ SITEURL }}/{{ article.series.previous.url }}">
                <span class="sr-only">{{ _('Previous article') }}:</span>
                {{ title(article.series.previous.title, DISABLE_SIDEBAR_TITLE_ICONS, icon='arrow-left') }}
            </a>
        </li>
        {% endif %}
        {% if article.series.next %}
        <li>
            <a class="nav-link" href="{{ SITEURL }}/{{ article.series.next.url }}">
                <span class="sr-only">{{ _('Next article') }}:</span>
                {{ title(article.series.next.title, DISABLE_SIDEBAR_TITLE_ICONS, icon='arrow-left') }}
            </a>
        </li>
        {% endif %}
    </ul>
{% endif %}
