{% set show_source = (article and article.show_source_url) or (page and page.show_source_url) %}

{% if show_source and SHOW_SOURCE_ON_SIDEBAR %}
    <span id="sidebar-show-source-label">
        <i class="fa fa-tags fa-file-text"></i><span class="icon-label">{{ _('This Page') }}</span>
    </span>
    <ul class="nav flex-column" aria-labelledby="sidebar-show-source-label">
        {% if article %}
        <li>
            <a class="nav-link" href="{{ SITEURL }}/{{ article.show_source_url }}">{{ _('Show source') }}</a>
        </li>
        {% elif page %}
        <li>
            <a class="nav-link" href="{{ SITEURL }}/{{ page.show_source_url }}">{{ _('Show source') }}</a>
        </li>
        {% endif %}
    </ul>
{% endif %}
