{% if SOCIAL %}
<div id="social-icons">
    {% for s in SOCIAL %}
        {% if s[2] %}
            {% set icon = s[2]|lower|replace('+','-plus')|replace(' ','-') %}
        {% else %}
            {% set icon = s[0]|lower|replace('+','-plus')|replace(' ','-') %}
        {% endif %}

        {% set style_class = icon|replace('-square', '')|replace('-circle', '') %}

        <a class="mb-1 btn btn-social btn-{{ style_class }}" href="{{ s[1] }}" title="{{ s[0] }}" target="_blank">
            <span class="sr-only">{{ s[0] }}</span>
            <i class="fa fa-{{ icon }} fa-2x"></i>
        </a>
    {% endfor %}
</div>
{% endif %}
