{% from 'includes/sidebar/macros.jinja' import title %}

{% if 'tag_cloud' in PLUGINS and DISPLAY_TAGS_ON_SIDEBAR|default(True) %}
    {% if DISPLAY_TAGS_INLINE %}
        {% set tags = tag_cloud | sort(attribute='0') %}
    {% else %}
        {% set tags = tag_cloud | sort(attribute='1') %}
    {% endif -%}

    <span id="sidebar-tagcloud-label">{{ title(_('Tags'), DISABLE_SIDEBAR_TITLE_ICONS, icon='tags') }}</span>
    <ul class="nav {% if DISPLAY_TAGS_INLINE %}tagcloud{% else %}flex-column{% endif %}" aria-labelledby="sidebar-tagcloud-label">
        {% for tag in tags %}
        <li>
            <a class="nav-link tag-{{ tag.1 }}" href="{{ SITEURL }}/{{ tag.0.url }}">
                {{- tag.0 -}}
            </a>
        </li>
        {% endfor %}
    </ul>
{% endif %}
