{% from 'includes/sidebar/macros.jinja' import title %}

{% if TWITTER_WIDGET_ID %}
    <span id="sidebar-twitter-timeline-label">{{ title(_('Latest Tweets'), DISABLE_SIDEBAR_TITLE_ICONS, icon='twitter') }}</span>
    <div id="twitter_timeline">
        <a class="twitter-timeline" data-width="250" data-height="300" data-dnt="true" data-theme="light" href="https://twitter.com/{{TWITTER_USERNAME}}">Tweets by {{TWITTER_USERNAME}}</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
{% endif %}
