/*** SIDEBAR ***/
#sidebar .btn-social {
    border: 0;
    padding: .3rem;
}

/* BRANDING */
#sitename a,
#sidebar .sitename a {
    font-family: monospace;
    font-stretch: condensed;
    font-size: larger;
}

/* ABOUT ME */
#sidebar #aboutme {
    max-width: 16rem;
}

/* ARTICLE */
.highlight > pre {
  padding: .4rem;
  border-radius: .2rem;
}

/* ARTICLE INFO */
.article-info > :not(:last-child) {
  margin-right: .6rem;
}

.article-info .series {
    display: block;
}

/* PAGINATION */
.pager .pager-button {
    border-radius: 1rem;
}

/* TAG CLOUD */
.tagcloud li {
  padding: 0px;
}

.tag-1 {
  font-size: 150%;
}

.tag-2 {
  font-size: 120%;
}

.tag-3 {
  font-size: 100%;
}

.tag-4 {
  font-size: 90%;
}

.tag-5 {
  font-size: 80%;
}

.tag-6 {
  font-size: 75%;
}

/*** SOCIAL ICONS ***/

/* BITBUCKET */
#social-icons .btn-social.btn-bitbucket {
    color: #205081;
}

/* DELICIOUS */
#social-icons .btn-social.btn-delicious {
    color: #3399ff;
}

/* DEVIANTART */
#social-icons .btn-social.btn-deviantart {
    color: #05cc47;
}

/* FLICKR */
#social-icons .btn-social.btn-flickr {
    color: #0063dc;
    /*color: #ff0084;*/
    text-shadow: 2px 2px #ff0084;
}

/* FACEBOOK */
#social-icons .btn-social.btn-facebook {
    color: #3b5998;
}

/* GITHUB */
#social-icons .btn-social.btn-github {
    color: #333;
}

/* GITLAB */
#social-icons .btn-social.btn-gitlab {
    color: #fc6d26;
}

/* GITTIP */
#social-icons .btn-social.btn-gittip,
#social-icons .btn-social.btn-gratipay {
    color: #663300;
}

/* GOOGLE PLUS */
#social-icons .btn-social.btn-google-plus,
#social-icons .btn-social.btn-google-plus-oficial {
    color: #dd4b39;
}

/* INSTAGRAM */
#social-icons .btn-social.btn-instagram {
    color: #e1306c;
}

/* LINKEDIN */
#social-icons .btn-social.btn-linkedin {
    color: #0077b5;
}

/* MEDIUM */
#social-icons .btn-social.btn-medium {
    color: #00ab6c;
}

/* PINTEREST */
#social-icons .btn-social.btn-pinterest {
    color: #bd081c;
}

/* SOUNDCLOUD */
#social-icons .btn-social.btn-soundcloud {
    color: #ff8800;
}

/* RSS */
#social-icons .btn-social.btn-rss {
    color: #f26522;
}

/* TWITCH */
#social-icons .btn-social.btn-twitch {
    color: #6441a5;
}

/* TWITTER */
#social-icons .btn-social.btn-twitter {
    color: #1da1f2;
}

/* TWITTER */
#social-icons .btn-social.btn-tumblr {
    color: #35465c;
}

/* VIMEO */
#social-icons .btn-social.btn-vimeo {
    color: #1ab7ea;
}

/* VINE */
#social-icons .btn-social.btn-vine {
    color: #00b488;
}

/* VK */
#social-icons .btn-social.btn-vk {
    color: #45668e;
}

/* WORDPRESS */
#social-icons .btn-social.btn-wordpress {
    color: #21759b;
}

/* YOUTUBE */
#social-icons .btn-social.btn-youtube,
#social-icons .btn-social.btn-youtube-play {
    color: #ff0000;
}

/* TIPUE SEARCH */
#tipue_search_input {
  padding-left: 2.4rem;
  background-image: url('../tipuesearch/search.png');
  background-repeat: no-repeat;
  background-position: 0.35rem .3rem;
  background-size: 1.8rem;
}
