{% set DISPLAY_I18N = lang_siteurls and lang_siteurls|length > 1 %}

{% if NAVBAR_STYLE and NAVBAR_STYLE is string %}
    {% set navbar_style = NAVBAR_STYLE %}
{% elif NAVBAR_STYLE and NAVBAR_STYLE is sequence %}
    {% set navbar_style = NAVBAR_STYLE[0] %}
    {% set navbar_background = NAVBAR_STYLE[1] %}
{% else %}
    {% set navbar_style = 'dark' %}
{% endif %}

{% if navbar_background is undefined %}
    {% if BOOTSTRAP_THEME %}
        {% set navbar_background = 'primary' %}
    {% else %}
        {% set navbar_background = 'dark' %}
    {% endif %}
{% endif %}

<nav class="navbar navbar-expand-lg
            navbar-{{ navbar_style }}
            bg-{{ navbar_background }}">
    <a href="{{ SITEURL }}" class="navbar-brand d-lg-none">{{ SITENAME }}</a>

    <button class="navbar-toggler" type="button"
            data-toggle="collapse" data-target="#navbar-content"
            aria-controls="navbar-content" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navbar-content" class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            {% for title, link in MENUITEMS %}
            <li class="nav-item">
                <a class="nav-link" href="{{ link }}">{{ title }}</a>
            </li>
            {% endfor -%}

            {% if not PAGES_SORT_ATTRIBUTE -%}
                {% set PAGES_SORT_ATTRIBUTE = 'title' %}
            {%- endif %}
            {% if DISPLAY_PAGES_ON_MENU %}
                {% for p in pages | sort(attribute=PAGES_SORT_ATTRIBUTE) %}
                    {% if p.url %}
                    <li class="nav-item {% if p == page %}active{% endif %}">
                        <a class="nav-link" href="{{ SITEURL }}/{{ p.url }}">
                            {{ p.menulabel|default(p.title) }}
                        </a>
                    </li>
                    {% endif %}
                {% endfor %}
            {% endif -%}

            {% if DISPLAY_CATEGORIES_ON_MENU %}
                {% for cat, _articles in categories %}
                <li class="nav-item {% if cat == category %}active{% endif %}">
                    <a class="nav-link" href="{{ SITEURL }}/{{ cat.url }}">{{ cat | capitalize }}</a>
                </li>
                {% endfor %}
            {% endif %}
        </ul>

        <ul class="navbar-nav ml-auto">
            {% if ARCHIVES_SAVE_AS %}
            <li class="nav-item"><a class="nav-link" href="{{ SITEURL }}/{{ ARCHIVES_URL | default('archives.html') }}"><i class="fa fa-th-list"></i><span class="icon-label">{{ _('Archives') }}</span></a></li>
            {% endif %}

            {% if DISPLAY_I18N %}
            <li class="nav-item dropdown">
                <a id="navbar-dropdown-menu-link" class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-globe"></i>
                    {{ DEFAULT_LANG }}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbar-dropdown-menu-link">
                    {% for lang, url in lang_siteurls.items() %}
                        <a class="dropdown-item {% if lang == DEFAULT_LANG %}active{% endif %}" href="{{ url }}/">{{ lang }}</a>
                    {% endfor %}
                </div>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>
