<div class="mt-5">
{% if articles_page and articles_paginator.num_pages > 1 %}
    {% if USE_PAGER %}
        {% set button_class = 'btn btn-sm btn-outline-primary pager-button' %}
        <div class="pager row">
            <div class="col text-left">
                {% if articles_page.has_previous() %}
                    <a class="previous {{ button_class }}" href="{{ SITEURL }}/{{ articles_previous_page.url }}">
                        &larr; {{ _('Newer') }}
                    </a>
                {% else %}
                    <a class="previous {{ button_class }} disabled" href="#">
                        &larr; {{ _('Newer') }}
                    </a>
                {% endif %}
            </div>
            <div class="col text-right">
                {% if articles_page.has_next() %}
                    <a class="next {{ button_class }}" href="{{ SITEURL }}/{{ articles_next_page.url }}">
                        {{ _('Older') }} &rarr;
                    </a>
                {% else %}
                    <a class="next {{ button_class }} disabled" href="#">
                        {{ _('Older') }} &rarr;
                    </a>
                {% endif %}
            </div>
        </div>
    {% else %}
        <ul class="pagination">
            {% if articles_page.has_previous() %}
                {% set num = articles_page.previous_page_number() %}
                <li class="page-item prev">
                    <a class="page-link" href="{{ SITEURL }}/{{ articles_previous_page.url }}">&laquo;</a>
                </li>
            {% else %}
                <li class="page-item prev disabled">
                    <a class="page-link" href="#">&laquo;</a>
                </li>
            {% endif %}
            {% for num in range( 1, 1 + articles_paginator.num_pages ) %}
                <li class="page-item {{ 'active' if num == articles_page.number else '' }}">
                    <a class="page-link" href="{{ SITEURL }}/{{ articles_paginator.page(num).url if num > 1 else articles_paginator.page(1).url }}">
                        {{ num }}
                    </a>
                </li>
            {% endfor %}
            {% if articles_page.has_next() %}
                <li class="page-item next">
                    <a class="page-link" href="{{ SITEURL }}/{{ articles_next_page.url }}">&raquo;</a>
                </li>
            {% else %}
                <li class="page-item next disabled"><a class="page-link" href="#">&raquo;</a></li>
            {% endif %}
        </ul>
    {% endif %}
{% endif %}
</div>
