{% if SHOW_SOURCE_IN_SECTION and article and article.show_source_url %}
    <hr/>
    <section class="show-source">
        <div class="h5">This Page</div>
        <a href="{{ SITEURL }}/{{ article.show_source_url }}">Show source</a>
    </section>
{% endif %}
