<div class="p-3">
    {# BRANDING #}
    <div class="mb-4 px-0 text-center">
        {% if SITELOGO or not HIDE_SITENAME %}
            {% include 'includes/sidebar/branding.html' %}
        {% endif %}

        {% if ABOUT_ME or AVATAR %}
            {% include 'includes/sidebar/aboutme.html' %}
        {% endif %}

        {# SOCIAL #}
        {% include 'includes/sidebar/social.html' %}
    </div>
    {# /BRANDING #}

    {# SEARCH #}
    {% include 'includes/sidebar/search.html' %}

    {# MENU #}
    {% if not HIDE_SIDEBAR %}
    <nav class="nav flex-column">
        {# PAGES #}
        {% include 'includes/sidebar/pages.html' %}

        {# CATEGORIES #}
        {% include 'includes/sidebar/categories.html' %}

        {# TAG CLOUD #}
        {% include 'includes/sidebar/tag_cloud.html' %}

        {# RECENT POSTS #}
        {% include 'includes/sidebar/recent_posts.html' %}

        {# SHOWSOURCE #}
        {% include 'includes/sidebar/show_source.html' %}

        {# SERIES #}
        {% include 'includes/sidebar/series.html' %}

        {# GITHUB #}
        {% include 'includes/sidebar/github.html' %}

        {# TWITTER TIMELINE #}
        {% include 'includes/sidebar/twitter_timeline.html' %}

        {# AUTHORS #}
        {% include 'includes/sidebar/authors.html' %}

        {# IMAGES #}
        {% include 'includes/sidebar/images.html' %}

        {# ARCHIVE #}
        {% include 'includes/sidebar/archive.html' %}

        {# LINKS #}
        {% include 'includes/sidebar/links.html' %}
    </nav>
    {% endif %}
    {# MENU #}
</div>
