{% macro translations_for(article) %}
{% if article.translations %}
<span>
    <span class="sr-only">{{ _('Lang') }}</span>
    {% for translation in article.translations %}
        <a href="{{ SITEURL }}/{{ translation.url }}">
            <i class="fa fa-language"></i>
            {{ translation.lang }}
        </a>
    {% endfor %}
</span>
{% endif %}
{% endmacro %}
