{% extends "base.html" %}
{% block content %}
    {% if articles %}
        {% for article in (articles_page.object_list if articles_page else articles) %}
            <article class="article-list-item">
                <header class="mb-3 mt-4">
                    <h2 class="article-title">
                        <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
                    </h2>
                    {% if DISPLAY_ARTICLE_INFO_ON_INDEX|default(True) %}
                        {% include "includes/article_info_index.html" %}
                    {% endif %}
                </header>

                <div class="summary">{{ article.summary }}
                    {% include 'includes/comment_count.html' %}
                    <a class="btn btn-primary btn-sm" href="{{ SITEURL }}/{{ article.url }}">{{ _('more') }} ...</a>
                </div>
            </article>
        {% endfor %}
    {% endif %}

    {% include 'includes/pagination.html' %}
{% endblock content %}
