{% extends "base.html" %}

{% block title %}{{ article.title|striptags }} - {{ SITENAME }}{% endblock %}

{% block html_lang %}{{ article.lang }}{% endblock %}

{% block meta %}
    {% if article.author %}
        <meta name="author" content="{{ article.author }}" />
    {% else %}
        <meta name="author" content="{{ AUTHOR }}" />
    {% endif %}
    {% if article.tags %}
        <meta name="keywords" content="{{ article.tags|join(',')|striptags }}" />
    {% endif %}
    {% if article.summary %}
        <meta name="description" content="{{ article.summary|striptags|escape }}" />
    {% endif %}
{% endblock %}

{% block opengraph %}
    {% if USE_OPEN_GRAPH %}
        {% if OPEN_GRAPH_FB_APP_ID %}
            <meta property="fb:app_id" content="{{ OPEN_GRAPH_FB_APP_ID }}"/>
        {% endif %}
        <meta property="og:site_name" content="{{ SITENAME }}" />
        <meta property="og:type" content="article"/>
        <meta property="og:title" content="{{ article.title|striptags|escape }}"/>
        <meta property="og:url" content="{{ SITEURL }}/{{ article.url }}"/>
        <meta property="og:description" content="{{ article.summary|striptags|escape }}"/>
        <meta property="article:published_time" content="{{ article.date.strftime("%Y-%m-%d") }}" />
        {% if article.category %}
            <meta property="article:section" content="{{ article.category }}" />
        {% endif %}
        {% for tag in article.tags %}
            <meta property="article:tag" content="{{ tag }}" />
        {% endfor %}
        {% if article.author %}
            <meta property="article:author" content="{{ article.author }}" />
        {% elif AUTHOR %}
            <meta property="article:author" content="{{ AUTHOR }}" />
        {% endif %}
        {% if article.og_image %}
            <meta property="og:image"
                  content="{{ SITEURL }}/{{ article.og_image }}"/>
        {% elif OPEN_GRAPH_IMAGE %}
            <meta property="og:image"
                  content="{{ SITEURL }}/{{ OPEN_GRAPH_IMAGE }}"/>
        {% endif %}
    {% endif %}
{% endblock %}

{% block canonical_rel %}
<link rel="canonical" href="{{ SITEURL }}/{{ article.url }}">
{% endblock %}

{% block breadcrumbs %}
    {% if DISPLAY_BREADCRUMBS %}
        <nav class="breadcrumb mt-3">
            <a class="breadcrumb-item" href="{{ SITEURL }}" title="{{ SITENAME }}"><i class="fa fa-home fa-lg"></i></a>
            {% if DISPLAY_CATEGORY_IN_BREADCRUMBS %}
            <a class="breadcrumb-item" href="{{ SITEURL }}/{{ article.category.url }}" title="{{ article.category }}">{{ article.category }}</a>
            {% endif %}
            <span class="breadcrumb-item active">{{ article.title }}</span>
        </nav>
    {% endif %}
{% endblock %}

{% block content %}
    <section id="content">
        <article>
            <header class="page-header mb-3 mt-4">
                <h2 class="h1">
                    <a href="{{ SITEURL }}/{{ article.url }}"
                       rel="bookmark"
                       title="{{ _('Permalink to') }} {{ article.title|striptags }}">
                        {{ article.title }}
                    </a>
                </h2>
                {% include "includes/article_info.html" %}
            </header>

            <div class="entry-content">
                {{ article.content }}
            </div>
            <!-- /.entry-content -->

            <footer>
            {% include 'includes/article/related_posts.html' %}
            {% include 'includes/article/series.html' %}
            {% include 'includes/article/addthis.html' %}
            {% include 'includes/article/shariff.html' %}
            {% include 'includes/comments.html' %}
            {% include 'includes/show_source.html' %}
            </footer>
        </article>
    </section>

{% endblock %}

{% block scripts %}
{% if ADDTHIS_PROFILE %}
    {% if ADDTHIS_DATA_TRACK_ADDRESSBAR|default(true) %}
        <script type="text/javascript">var addthis_config = {"data_track_addressbar": true};</script>
    {% endif %}
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid={{ ADDTHIS_PROFILE }}"></script>
{% endif %}
{% if SHARIFF|default(false) %}
    <!-- add shariff support -->
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/shariff.min.js"></script>
{% endif %}
{% endblock %}
