{% if article.author %}
<span class="author" aria-label="_('Author')">
    {{ _('By') }}
    <a href="{{ SITEURL }}/{{ article.author.url }}">
        <i class="fa fa-user"></i>
        {{ article.author }}
    </a>
</span>
{% endif %}
