<span class="category">
    <a href="{{ SITEURL }}/{{ article.category.url }}" aria-label="{{ _('Category') }}">
        <i class="fa fa-folder-open" title="{{ _('Category') }}"></i>
        {{ article.category }}
    </a>
</span>
