{% if article.modified %}
<span class="modified" aria-label="{{ _('Modified') }}">
    <i class="fa fa-pencil" title="{{ _('Modified') }}"></i>
    <time datetime="{{ article.modified.isoformat() }}"> {{ article.locale_modified }}</time>
</span>
{% endif %}
