<span class="published" aria-label="{{ _('Published') }}">
    <i class="fa fa-calendar" title="{{ _('Published') }}"></i>
    <time datetime="{{ article.date.isoformat() }}"> {{ article.locale_date }}</time>
</span>
