{% if article.series %}
<div class="series" title="{{ _('Series') }}" aria-label="{{ _('Series') }}">
    <span class="badge badge-dark">
        <i class="fa fa-television"></i>
        {{ _('Part %(index)s', index=article.series.index) }}
    </span>
    {{ article.series.name }}
</div>
{% endif %}
