{% if article.tags %}
<span class="taglist">
    <span class="sr-only">{{ _('Tags') }}:</span>
    <!--i class="fa fa-tags" title="{{ _('Tags') }}"></i-->
    {% for tag in article.tags %}
    <a href="{{ SITEURL }}/{{ tag.url }}">
        <i class="fa fa-tag" title="{{ _('Tag') }}"></i>
        {{ tag }}
    </a>
    {% endfor %}
</span>
{% endif %}
